.wrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 2.813vw;
}

.missionTitle {
	text-align: center;
	letter-spacing: -0.026vw;

	color: #fff;

	font-family: 'Inter Tight';
	font-size: 3.333vw;
	font-weight: 500;
	font-style: normal;
	line-height: 90%; /* 3vw */
}

.wrapperCards {
	display: flex;
	align-items: center;
	gap: 1.042vw;
}

.cardImg {
	margin-left: -0.8vw;
}

@media (width <= 480px) {
	.wrapper {
		gap: 12.558vw;
	}

	.missionTitle {
		font-size: 7.442vw;
		line-height: 7.442vw;
	}

	.wrapperCards {
		flex-direction: column;
		gap: 4.651vw;
	}

	.cardImg {
		margin-left: -3.8vw;
	}

	.cardImg2 {
		margin-left: -1.5vw;
	}
}
