.wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 70.833vw;
	margin-top: 6.25vw;
	padding: 5.156vw 5.99vw;
	border: 0.052vw solid var(--dark_gray_stroke, #2E2E2E);
	border-radius: 1.667vw;
	background: var(--card_bg, rgb(92 92 92 / 15%));
}

.person {
	display: flex;
	gap: 0.625vw;
}

.personImg {
	width: 3.75vw;
	height: 3.75vw;
	border-radius: 100%;
}

.wrapperInfo {
	display: flex;
	flex-direction: column;
	gap: 0.625vw;
	width: 19.531vw;
}

.infoHeader {
	letter-spacing: -0.019vw;
	color: #F0F0F0;
	font-family: 'Inter Tight';
	font-size: 1.667vw;
	font-weight: 500;
	font-style: normal;
	line-height: 120%;
}

.infoText {
	color: var(--desc-text);
	font-family: 'Inter Tight';
	font-size: 0.938vw;
	font-weight: 400;
	font-style: normal;
	line-height: 1.313vw;
}

.wrapperText {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 29.271vw;
	height: 14.688vw;
	gap: 1.406vw;
}

.quotes {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: flex-end;
	width: 1.719vw;
	height: 14.688vw;
	gap: 0.521vw;
}

.quote {
	text-align: center;
	color: var(--main-text);
	font-family: 'Times New Roman';
	font-size: 3.854vw;
	font-weight: 400;
	font-style: normal;
	line-height: 90%;
}

.quotesSecond {
	display: flex;
	align-items: center;
	flex-direction: column;
	flex-shrink: 0;
	width: 1.719vw;
	height: 14.688vw;
	gap: 0.521vw;
}

.quoteSecond {
	text-align: center;
	color: var(--main-text);
	font-family: 'Times New Roman';
	font-size: 3.854vw;
	font-weight: 400;
	font-style: normal;
	line-height: 90%;
}

.quoteText {
	color: rgb(255 255 255 / 50%);
	font-family: 'Inter Tight';
	font-size: 0.938vw;
	font-weight: 400;
	font-style: normal;
	line-height: 1.313vw;
}

@media (width <= 480px) {
	.wrapper {
		flex-direction: column;
		width: 92.558vw;
		margin-top: 18.605vw;
		padding: 7.442vw;
		border: 0.233vw solid var(--dark_gray_stroke, #2E2E2E);
		border-radius: 7.442vw;
		gap: 4.651vw;
	}

	.person {
		gap: 2.791vw;
	}

	.personImg {
		width: 12.093vw;
		height: 12.093vw;
	}

	.wrapperInfo {
		gap: 1.86vw;
		width: 62.791vw;
	}

	.infoHeader {
		letter-spacing: -0.14vw;
		font-size: 5.116vw;
	}

	.infoText {
		font-size: 3.721vw;
		line-height: 5.581vw;
	}

	.wrapperText {
		width: 77.674vw;
		height: fit-content;
	}

	.quoteText {
		font-size: 3.721vw;
		line-height: 5.581vw;
	}
}
