.textCase {
	color: rgb(255 255 255 / 50%);
	font-family: 'Inter Tight';
	font-size: 0.938vw;
	font-weight: 400;
	font-style: normal;
	line-height: 1.313vw;
}

.textCaseActive {
	color: #FFF;
	font-family: 'Inter Tight';
	font-size: 0.938vw;
	font-weight: 400;
	font-style: normal;
	line-height: 1.313vw;
}

@media (width <= 480px) {
	.textCase {
		font-size: 3.721vw;
		line-height: 5.581vw;
	}

	.textCaseActive {
		font-size: 3.721vw;
		line-height: 5.581vw;
	}
}
