.wrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 2.813vw;
}

.wrapperAllCArds {
	display: flex;
	align-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	gap: 1.042vw;
}

.leftFirst {
	margin-left: -0.35vw;
}

.leftSecond {
	margin-left: -0.25vw;
}

.leftThird {
	margin-left: -0.65vw;
}

.leftFourth {
	margin-left: -0.35vw;
}

.title {
	text-align: center;
	letter-spacing: -0.026vw;

	color: #fff;

	font-family: 'Inter Tight';
	font-size: 3.333vw;
	font-weight: 500;
	font-style: normal;
	line-height: 90%;
}

.wrapperBigCard {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: space-between;

	width: 22.917vw;
	height: 22.604vw;
	padding: 1.563vw 1.25vw;

	border: 1px solid var(--dark_gray_stroke, #2e2e2e);
	border-radius: 0.625vw;
	background: var(--card_bg, rgb(92 92 92 / 15%));
}

.wrapperPriceButton {
	display: flex;
	align-items: center;
	align-self: stretch;
	justify-content: space-between;
}

.buttonBought {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 9.375vw;
	height: 2.708vw;

	cursor: pointer;
	text-align: center;

	color: var(--white, #fff);
	border: none;
	border-radius: 0.625vw;
	outline: none;
	background: var(--accent, #0638bd);

	font-family: 'Inter Tight';
	font-size: 0.781vw;
	font-weight: 500;
	font-style: normal;
	line-height: normal;
	gap: 0.521vw;
}

.wrapperBigCardHead {
	display: flex;
	flex-direction: column;
	gap: 1.25vw;
}

.wrapperBigCardHeadText {
	letter-spacing: -0.019vw;

	color: var(--white, #fff);

	font-family: 'Inter Tight';
	font-size: 1.667vw;
	font-weight: 500;
	font-style: normal;
	line-height: 120%;
}

.wrapperButtons {
	display: flex;
	align-items: center;
	justify-content: center;

	width: fit-content;
	padding: 0.417vw;

	border-radius: 0.833vw;
	background: var(--card_bg, rgb(92 92 92 / 15%));
	gap: 0.625vw;
	backdrop-filter: blur(0.781vw);
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 2.188vw;
	padding: 0.417vw 1.25vw;

	cursor: pointer;
	text-align: center;

	color: #f0f0f0;
	border: none;
	border-radius: 0.625vw;
	outline: none;
	background: transparent;

	font-family: 'Inter Tight';
	font-size: 0.781vw;
	font-weight: 500;
	font-style: normal;
	line-height: 100%;
}

.activeButton {
	background: var(--card_bg, rgb(92 92 92 / 15%));
}

.wrapperPrice {
	display: flex;
	align-items: center;
	gap: 0.208vw;
}

.priceText {
	text-align: center;
	letter-spacing: -0.019vw;

	color: var(--additional_violet, #9092e3);

	font-family: 'Inter Tight';
	font-size: 1.667vw;
	font-weight: 500;
	font-style: normal;
	line-height: 120%;
}

.pricePeriod {
	color: var(--white, #fff);

	font-family: 'Inter Tight';
	font-size: 0.938vw;
	font-weight: 400;
	font-style: normal;
	line-height: 1.313vw;
}

.wrapperMiniCards {
	display: flex;
	align-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;

	width: 46.875vw;
	gap: 1.042vw;
}

@media (width <= 480px) {
	.wrapper {
		gap: 7.442vw;
	}

	.wrapperAllCArds {
		flex-direction: column;
		gap: 4.651vw;
	}

	.leftFirst {
		margin-left: -0.35vw;
	}

	.leftSecond {
		margin-left: -0.25vw;
	}

	.leftThird {
		margin-left: -2.65vw;
	}

	.leftFourth {
		margin-left: -1.95vw;
	}

	.title {
		font-size: 7.442vw;
		line-height: 7.442vw;
	}

	.wrapperBigCard {
		width: 92.558vw;
		height: 86.047vw;
		padding: 4.651vw;

		border-radius: 2.791vw;
	}

	.buttonBought {
		width: 41.86vw;
		height: 12.093vw;

		border-radius: 2.791vw;

		font-size: 3.256vw;
	}

	.wrapperBigCardHead {
		gap: 5.581vw;
	}

	.wrapperBigCardHeadText {
		letter-spacing: -0.14vw;

		font-size: 5.116vw;
	}

	.wrapperButtons {
		padding: 1.86vw;
		gap: 2.791vw;

		border-radius: 3.721vw;
		backdrop-filter: blur(3.488vw);
	}

	.button {
		height: 9.767vw;
		padding: 1.86vw 5.581vw;

		border-radius: 2.791vw;

		font-size: 3.721vw;
		line-height: 5.581vw;
	}

	.wrapperPrice {
		gap: 0.93vw;
	}

	.priceText {
		letter-spacing: -0.14vw;

		font-size: 5.116vw;
	}

	.pricePeriod {
		font-size: 3.721vw;
		line-height: 5.581vw;
	}

	.wrapperMiniCards {
		width: 92.558vw;
		gap: 4.651vw 2.791vw;
	}
}
