.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2.813vw;
}

.wrapperAllCArds {
	display: flex;
	align-items: flex-start;
	align-content: flex-start;
	gap: 1.042vw;
	flex-wrap: wrap;
}

.leftFirst {
	margin-left: -0.35vw;
}
.leftSecond {
	margin-left: -0.25vw;
}
.leftThird {
	margin-left: -0.65vw;
}
.leftFourth {
	margin-left: -0.35vw;
}

.title {
	color: #fff;
	text-align: center;
	font-family: 'Inter Tight';
	font-size: 3.333vw;
	font-style: normal;
	font-weight: 500;
	line-height: 90%;
	letter-spacing: -0.026vw;
}

.wrapperBigCard {
	display: flex;
	width: 22.917vw;
	height: 23.021vw;
	padding: 1.563vw 1.25vw;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	border-radius: 0.625vw;
	border: 1px solid var(--dark_gray_stroke, #2e2e2e);
	background: var(--card_bg, rgba(92, 92, 92, 0.15));
}

.wrapperBigCardHead {
	display: flex;
	flex-direction: column;
	gap: 1.25vw;
}

.wrapperBigCardHeadText {
	color: var(--white, #fff);
	font-family: 'Inter Tight';
	font-size: 1.667vw;
	font-style: normal;
	font-weight: 500;
	line-height: 120%;
	letter-spacing: -0.019vw;
}

.wrapperButtons {
	display: flex;
	width: fit-content;
	padding: 0.417vw;
	justify-content: center;
	align-items: center;
	gap: 0.625vw;
	border-radius: 0.833vw;
	background: var(--card_bg, rgba(92, 92, 92, 0.15));
	backdrop-filter: blur(0.781vw);
}

.button {
	cursor: pointer;
	display: flex;
	background: transparent;
	height: 2.188vw;
	padding: 0.417vw 1.25vw;
	justify-content: center;
	align-items: center;
	border-radius: 0.625vw;
	border: none;
	outline: none;
	color: #f0f0f0;
	text-align: center;
	font-family: 'Inter Tight';
	font-size: 0.781vw;
	font-style: normal;
	font-weight: 500;
	line-height: 100%;
}

.activeButton {
	background: var(--card_bg, rgba(92, 92, 92, 0.15));
}

.wrapperPrice {
	display: flex;
	align-items: center;
	gap: 0.208vw;
}

.priceText {
	color: var(--additional_violet, #9092e3);
	text-align: center;
	font-family: 'Inter Tight';
	font-size: 1.667vw;
	font-style: normal;
	font-weight: 500;
	line-height: 120%;
	letter-spacing: -0.019vw;
}

.pricePeriod {
	color: var(--white, #fff);
	font-family: 'Inter Tight';
	font-size: 0.938vw;
	font-style: normal;
	font-weight: 400;
	line-height: 1.313vw;
}

.wrapperMiniCards {
	display: flex;
	width: 46.875vw;
	align-items: flex-start;
	align-content: flex-start;
	gap: 1.042vw;
	flex-wrap: wrap;
}
