.contentWrapper {
	position: relative;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 100%;
}

.wrapper {
	z-index: -2;

	display: flex;
	align-items: center;

	width: 70.842vw;
	height: 39.849vw;
	padding: 1.107vw;

	border: 0.067vw solid var(--dark_gray_stroke, #2e2e2e);
	border-radius: 2.132vw;
	background: var(--almost_black, #0c0c0c);
}

.circle {
	position: absolute;
	z-index: 1;

	width: 29.518vw;
	height: 29.518vw;

	border-radius: 29.518vw;
	background: var(--accent);
	filter: blur(4.612vw);
}

.cardsWrapper {
	position: relative;
	z-index: 2;

	display: flex;
	align-items: center;
	gap: 0.738vw;
}

.recording {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	width: 22.728vw;
	height: 15.497vw;
	padding: 1.181vw;

	border: 0.037vw solid var(--dark_gray_stroke, #2e2e2e);
	border-radius: 1.181vw;
	background: var(--almost_black, #0c0c0c);
}

.recordingImg {
	width: 1.476vw;
	height: 1.476vw;
}

.recordingText {
	text-align: center;
	text-align: left;

	color: var(--main-text);

	font-family: 'Inter Tight';
	font-size: 0.59vw;
	font-weight: 400;
	font-style: normal;
	line-height: 150%;
}

.wrapperMiniCards {
	display: flex;
	flex-direction: column;
	gap: 0.738vw;
}

.miniCard {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	width: 10.368vw;
	height: 7.379vw;
	padding: 1.181vw;

	border: 0.037vw solid var(--dark_gray_stroke, #2e2e2e);
	border-radius: 1.181vw;
	background: var(--almost_black, #0c0c0c);
}

.aiImg {
	width: 1.033vw;
	height: 1.475vw;
}

.planImg {
	width: 1.476vw;
	height: 1.476vw;
}

.wrapperBalance {
	position: absolute;
	z-index: 2;
	top: 2.713vw;
	right: 7.007vw;

	display: inline-flex;
	align-items: center;
	gap: 0.148vw;
}

.balanceText {
	color: #858585;

	font-family: 'Inter Tight';
	font-size: 0.553vw;
	font-weight: 500;
	font-style: normal;
	line-height: 100%;
}

.balanceContainer {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 3.579vw;
	height: 1.254vw;
	padding: 0.148vw 0.258vw;

	border: 0.037vw solid var(--dark_gray_stroke, #2e2e2e);
	border-radius: 1.181vw;
	background: var(--card_bg, rgb(92 92 92 / 15%));
	gap: 0.369vw;
}

.balance {
	text-align: center;

	color: var(--main-text);

	font-family: 'Inter Tight';
	font-size: 0.553vw;
	font-weight: 500;
	font-style: normal;
	line-height: 100%;
}

@media (width <= 480px) {
	.wrapper {
		width: 92.558vw;
		height: 54.54vw;
		padding: 1.395vw;

		border: 0.093vw solid var(--dark_gray_stroke, #2e2e2e);
		border-radius: 2.791vw;
	}

	.circle {
		width: 39.472vw;
		height: 39.472vw;

		border-radius: 100%;
		filter: blur(6.168vw);
	}

	.cardsWrapper {
		gap: 0.986vw;
	}

	.recording {
		width: 29.696vw;
		height: 21.21vw;
		padding: 1.579vw;

		border: 0.049vw solid var(--dark_gray_stroke, #2e2e2e);
		border-radius: 1.579vw;
	}

	.recordingImg {
		width: 1.974vw;
		height: 1.974vw;
	}

	.recordingText {
		font-size: 3.395px;
		line-height: 150%;
	}

	.wrapperMiniCards {
		gap: 0.986vw;
	}

	.miniCard {
		width: 13.546vw;
		height: 10.1vw;
		padding: 1.579vw;

		border: 0.049vw solid var(--dark_gray_stroke, #2e2e2e);
		border-radius: 1.579vw;
	}

	.aiImg {
		width: 1.382vw;
		height: 1.973vw;
	}

	.planImg {
		width: 1.974vw;
		height: 1.974vw;
	}

	.wrapperBalance {
		top: 3.784vw;
		right: 9.042vw;
		gap: 0.197vw;
	}

	.balanceText {
		font-size: 0.74vw;
		line-height: 100%;
	}

	.balanceContainer {
		width: 4.676vw;
		height: 1.717vw;
		padding: 0.197vw 0.345vw;

		border: 0.049vw solid var(--dark_gray_stroke, #2e2e2e);
		border-radius: 1.579vw;
		gap: 0.493vw;
	}

	.balance {
		font-size: 0.74vw;
		line-height: 100%;
	}
}
