.wrapperSections {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2.083vw;
}

.imgPageMeetings {
	width: 70.786vw;
	height: 39.817vw;
}

.accent {
	color: var(--main-text);
}

@media (max-width: 480px) {
	.wrapperSections {
		gap: 4.651vw;
	}

	.imgPageMeetings {
		width: 92.558vw;
		height: 52.065vw;
	}
}
