.wrapper {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	flex-shrink: 0;

	width: 14.896vw;
	padding: 1.25vw;

	border: 1px solid var(--dark_gray_stroke, #2e2e2e);
	border-radius: 0.625vw;
	background: var(--card_bg, rgb(92 92 92 / 15%));
	gap: 1.667vw;
}

.wrapperTexts {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	gap: 0.417vw;
}

.img {
	width: auto;
	height: 2.552vw;
}

.text {
	color: #fff;

	font-family: 'Inter Tight';
	font-size: 0.938vw;
	font-weight: 400;
	font-style: normal;
	line-height: 1.313vw;
}
