.wrapper {
	position: relative;
	display: flex;
	width: 22.917vw;
	height: 35.26vw;
	padding: 0vw 0.052vw;
	flex-direction: column;
	align-items: center;
	gap: 1.667vw;
	border-radius: 0.625vw;
	border: 0.052vw solid var(--dark_gray_stroke, #2e2e2e);
	background: var(--card_bg, rgba(92, 92, 92, 0.15));
	backdrop-filter: blur(0.521vw);
	overflow: hidden;
}

.wrapperHeader {
	display: flex;
	width: 22.917vw;
	height: 12.865vw;
	padding: 1.667vw 1.719vw;
	flex-direction: column;
	align-items: center;
	gap: 0.833vw;
	flex-shrink: 0;
}

.headerName {
	color: #fff;
	text-align: center;
	font-family: 'Inter Tight';
	font-size: 1.667vw;
	font-style: normal;
	font-weight: 500;
	line-height: 120%; /* 2vw */
	letter-spacing: -0.019vw;
}

.headerPrice {
	color: #fff;
	text-align: center;
	font-family: 'Inter Tight';
	font-size: 1.667vw;
	font-style: normal;
	font-weight: 500;
	line-height: 120%;
	letter-spacing: -0.019vw;
}

.headerDesc {
	color: #858585;
	width: 19.279vw;
	text-align: center;
	font-family: 'Inter Tight';
	font-size: 0.938vw;
	font-style: normal;
	font-weight: 400;
	line-height: 1.313vw;
}

.headerButton {
	cursor: pointer;
	outline: none;
	display: flex;
	width: 19.583vw;
	height: 2.708vw;
	padding: 0.885vw 2.813vw;
	justify-content: center;
	align-items: center;
	gap: 0.521vw;
	border-radius: 0.625vw;
	background: var(--white, #fff);
	color: var(--almost_black, #0c0c0c);
	text-align: center;
	font-family: 'Inter Tight';
	font-size: 0.781vw;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	border: none;
	outline: none;
}

.circle {
	position: absolute;
	width: 19.436vw;
	height: 19.436vw;
	border-radius: 19.436vw;
	background: var(--accent, #0638bd);
	filter: blur(5.208vw);
	bottom: -13.603vw;
}

.wrapperPrice {
	display: flex;
	align-items: center;
	gap: 0.208vw;
}

.periodText {
	color: var(--white, #fff);
	font-family: 'Inter Tight';
	font-size: 0.938vw;
	font-style: normal;
	font-weight: 400;
	line-height: 1.313vw;
}

@media (max-width: 480px) {
	.wrapper {
		width: 92.558vw;
		height: 127.209vw;
		padding: 0vw 4.651vw;
		gap: 4.651vw;
		border-radius: 2.791vw;
		border: 0.233vw solid var(--dark_gray_stroke, #2e2e2e);
		backdrop-filter: blur(2.326vw);
	}

	.wrapperHeader {
		width: 83.256vw;
		height: fit-content;
		padding: 4.651vw 0 0 0;
		gap: 4.651vw;
	}

	.headerName {
		font-size: 5.116vw;
		line-height: 120%;
		letter-spacing: -0.14vw;
	}

	.headerPrice {
		font-size: 5.116vw;
		line-height: 120%;
		letter-spacing: -0.14vw;
	}

	.headerDesc {
		font-size: 3.721vw;
		line-height: 5.581vw;
		width: fit-content;
	}

	.headerButton {
		width: 83.256vw;
		height: 12.093vw;
		padding: 3.953vw 5.581vw;
		border-radius: 2.791vw;
		font-size: 3.256vw;
	}

	.circle {
		width: 86.785vw;
		height: 86.785vw;
		border-radius: 86.785vw;
		filter: blur(23.256vw);
		bottom: -83.414vw;
	}

	.wrapperPrice {
		gap: 0.93vw;
	}

	.periodText {
		font-size: 3.721vw;
		line-height: 5.581vw;
	}
}
