.wrapperCard4Card5Card6 {
	display: flex;
	align-items: flex-start;
	align-self: stretch;
	flex: 1 0 0;
	flex-direction: column;
	justify-content: space-between;
	width: 22.917vw;
	padding: 1.667vw;
	border: 0.052vw solid var(--dark_gray_stroke, #2E2E2E);
	border-radius: 1.667vw;
	background: var(--card_bg, rgb(92 92 92 / 15%));
}

.wrapperDesc {
	display: flex;
	align-items: flex-start;
	align-self: stretch;
	flex-direction: column;
	gap: 1.042vw;
}

.mainTitle {
	letter-spacing: -0.019vw;
	color: #FFF;
	font-family: 'Inter Tight';
	font-size: 1.667vw;
	font-weight: 500;
	font-style: normal;
	line-height: 120%;
}

.mainDesc {
	color: var(--white-50, rgb(255 255 255 / 50%));
	font-family: 'Inter Tight';
	font-size: 0.938vw;
	font-weight: 400;
	font-style: normal;
	line-height: 1.313vw; /* 140% */
}

.shortTextsImage {
	width: 19.635vw;
	height: 21.042vw;
}

@media (width <= 480px) {
	.wrapperDesc {
		gap: 4.651vw;
	}

	.mainTitle {
		letter-spacing: -0.14vw;
		font-size: 5.116vw;
	}

	.mainDesc {
		font-size: 3.721vw;
		line-height: 5.581vw;
	}

	.wrapperCard4Card5Card6 {
		width: 92.558vw;
		padding: 7.442vw;
		border: 0.233vw solid var(--dark_gray_stroke, #2E2E2E);
		border-radius: 4.651vw;
	}
}
