.wrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;

	width: 96.667vw;
	height: 18.333vw;
	padding: 1.719vw;

	border: 0.052vw solid #2c2c2c;
	border-radius: 0.833vw;
	background: rgb(27 26 27 / 80%);
	gap: 2.5vw;
	backdrop-filter: blur(0.521vw);
}

.wrapperFooter {
	display: flex;
	flex-direction: column;

	width: 93.229vw;
	gap: 1.302vw;
}

.line {
	width: 100%;
	height: 1px;

	background-color: rgb(255 255 255 / 25%);
}

.wrapperLinks {
	display: flex;
	justify-content: space-between;
}

.linksText {
	color: var(--main-text);

	font-family: 'Inter Tight';
	font-size: 0.833vw;
	font-weight: 400;
	font-style: normal;
	line-height: 1vw;
}

.linkTelegram {
	width: 1.25vw;
	height: 1.25vw;
}

.wrapperContent {
	display: flex;
	flex-shrink: 0;
	justify-content: center;
	justify-content: space-between;

	width: 100%;
	height: 9.896vw;
}

.wrapperLogoContent {
	display: flex;
	gap: 9.718vw;
}

.wrapperConfEmail {
	display: flex;
	gap: 10.731vw;

	margin-right: 5.417vw;
}

.logo {
	width: 4.271vw;
	height: 2.083vw;
}

.wrapperComponents {
	display: flex;
	flex-direction: column;
	gap: 0.781vw;
}

.componentText {
	color: var(--main-text);

	font-family: 'Inter Tight';
	font-size: 0.833vw;
	font-weight: 400;
	font-style: normal;
	line-height: 1vw;
}

.wrapperConf {
	display: flex;
	flex-direction: column;
	gap: 0.781vw;
}

.confTitle {
	color: var(--main-text);

	font-family: 'Inter Tight';
	font-size: 0.938vw;
	font-weight: 500;
	font-style: normal;
	line-height: 1.031vw;
}

.confText {
	color: var(--main-text);

	font-family: 'Inter Tight';
	font-size: 0.833vw;
	font-weight: 400;
	font-style: normal;
	line-height: 1vw;
}

@media (width <= 480px) {
	.wrapper {
		justify-content: flex-start;

		width: 92.558vw;
		height: fit-content;
		padding: 7.442vw;

		border: 0.233vw solid #2c2c2c;
		border-radius: 3.721vw;
		gap: 11.163vw;
		backdrop-filter: blur(2.326vw);
	}

	.wrapperFooter {
		width: 77.674vw;
		gap: 5.581vw;
	}

	.wrapperLinks {
		display: flex;
		justify-content: space-between;
	}

	.linksText {
		font-size: 3.721vw;
		line-height: 4.465vw;
	}

	.linkTelegram {
		width: 5.581vw;
		height: 5.581vw;
	}

	.wrapperContent {
		flex-direction: column;
		gap: 11.628vw;

		justify-content: flex-start;

		height: fit-content;
	}

	.wrapperLogoContent {
		flex-direction: column;
		gap: 12.558vw;
	}

	.wrapperConfEmail {
		display: flex;
		gap: 3.488vw;

		margin-right: 0;
	}

	.logo {
		width: 15.256vw;
		height: 7.442vw;
	}

	.wrapperComponents {
		gap: 3.488vw;
	}

	.componentText {
		font-size: 3.721vw;
		line-height: 5.581vw;
	}

	.wrapperConf {
		gap: 3.488vw;
	}

	.confTitle {
		font-size: 4.186vw;
		line-height: 4.605vw;
	}

	.confText {
		font-size: 3.721vw;
		line-height: 5.581vw;
	}
}
