.cardWrapper {
	display: flex;
	flex-direction: column;
	width: 22.917vw;
	padding: 1.25vw;
	cursor: pointer;
	border: none;
	border-radius: 0.625vw;
	outline: none;
	background: var(--card_bg);
	gap: 1.042vw;
}

.cardImg {
	width: fit-content;
	height: 2.552vw;
}

.cardTitle {
	width: fit-content;
	color: var(--desc-text);
	font-family: 'Inter Tight';
	font-size: 0.938vw;
	font-weight: 400;
	font-style: normal;
	line-height: 1.313vw;
}

.cardDesc {
	width: 19.417vw;
	text-align: left;
	color: var(--desc-text);
	font-family: 'Inter Tight';
	font-size: 0.938vw;
	font-weight: 400;
	font-style: normal;
	line-height: 1.313vw;
}

.activeCard {
	color: var(--main-text);
}

.activeWrapper {
	background: var(--card_bg);
	box-shadow: 0 0.208vw 2.604vw 0 rgb(144 146 227 / 20%) inset;
}

@media (width <= 480px) {
	.cardWrapper {
		width: fit-content;
		height: 50.274vw;
		padding: 3.023vw;
		border-radius: 2.791vw;
		gap: 2.791vw;
	}

	.cardImg {
		height: 7.442vw;
	}

	.cardTitle {
		text-align: left;
		font-size: 3.721vw;
		line-height: 5.581vw;
	}

	.cardDesc {
		width: 48.372vw;
		font-size: 3.721vw;
		line-height: 5.581vw;
	}

	.activeWrapper {
		width: 57.674vw;
		padding: 4.651vw;
		box-shadow: 0 0.93vw 11.628vw 0 rgb(144 146 227 / 20%) inset;
	}
}
