.wrapper {
	display: flex;
	flex-direction: column;

	margin-top: 6.25vw;
	gap: 2.813vw;
}

.title {
	text-align: center;
	letter-spacing: -0.026vw;

	color: var(--main-text);

	font-family: 'Inter Tight';
	font-size: 3.333vw;
	font-weight: 500;
	font-style: normal;
	line-height: 90%;
}

.cards {
	display: flex;
	align-items: flex-start;
	gap: 1.042vw;

	align-self: stretch;
}

.card {
	display: flex;
	align-items: flex-start;
	flex-direction: column;

	width: 22.917vw;
	padding: 1.667vw;

	border-radius: 0.625vw;
	background: var(--card_bg);
	gap: 0.833vw;
}

.cardImg {
	width: 19.635vw;
	height: 21.042vw;
}

.wrapperText {
	display: flex;
	flex-direction: column;
	gap: 0.417vw;
}

.cardTitle {
	width: 21.26vw;

	letter-spacing: -0.019vw;

	color: var(--main-text);

	font-family: 'Inter Tight';
	font-size: 1.667vw;
	font-weight: 500;
	font-style: normal;
	line-height: 120%;
}

.cardText {
	width: 19.417vw;

	color: var(--main-text);

	font-family: 'Inter Tight';
	font-size: 0.938vw;
	font-weight: 400;
	font-style: normal;
	line-height: 1.313vw;
}

.wrapperMiniCards {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	width: 22.917vw;
	height: 31.563vw;
}

.cardMiniImg {
	width: 4.427vw;
	height: 4.635vw;
}

.minCards {
	display: flex;
	flex-direction: column;

	height: 15.313vw;
	padding: 1.667vw;

	border-radius: 0.625vw;
	background: var(--card_bg);
	gap: 1.302vw;
}

@media (width <= 480px) {
	.wrapper {
		margin-top: 18.605vw;
		gap: 7.442vw;
	}

	.title {
		font-size: 7.442vw;
		line-height: 7.442vw;
	}

	.cardBig {
		height: fit-content;
	}

	.cards {
		flex-direction: column;
		gap: 4.651vw;
	}

	.card {
		width: 92.558vw;
		padding: 7.442vw;
		gap: 0;

		border-radius: 2.791vw;
	}

	.cardImg {
		width: 78.907vw;
		height: 84.558vw;
	}

	.wrapperText {
		gap: 1.86vw;

		width: fit-content;
	}

	.cardTitle {
		width: fit-content;

		letter-spacing: -0.14vw;

		font-size: 5.116vw;
	}

	.cardText {
		width: fit-content;

		font-size: 3.721vw;
		line-height: 5.581vw;
	}

	.wrapperMiniCards {
		width: 92.558vw;
		height: fit-content;
		gap: 4.651vw;
	}

	.cardMiniImg {
		width: 19.767vw;
		height: 20.698vw;
	}

	.minCards {
		width: 92.558vw;
		height: fit-content;
		padding: 7.442vw;

		border-radius: 2.791vw;
		gap: 5.814vw;
	}
}
