.wrapper {
	display: flex;
	align-items: center;
	flex-direction: column;

	gap: 8.333vw;
}

.wrapperCards {
	display: flex;
	align-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;

	width: 71.033vw;
	margin-top: -25.333vw;
	gap: 1.042vw;
}

@media (width <= 480px) {
	.wrapper {
		gap: 23.256vw;
	}

	.wrapperCards {
		width: 92.558vw;
		gap: 4.651vw;

		margin-top: -122.333vw;
	}
}
