.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8.333vw;
	padding-bottom: 1.709vw;
}

.wrapperCards {
	display: flex;
	width: 71.033vw;
	align-items: flex-start;
	align-content: flex-start;
	gap: 1.042vw;
	flex-wrap: wrap;
	margin-top: -25.333vw;
}

@media (max-width: 480px) {
	.wrapper {
		gap: 23.256vw;
		padding-bottom: 3.721vw;
	}

	.wrapperCards {
		width: 92.558vw;
		gap: 4.651vw;
		margin-top: -122.333vw;
	}
}
