.mainWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 1.709vw;
	gap: 8.333vw;
}

.wrapperUTP {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2.083vw;
}

@media (max-width: 480px) {
	.mainWrapper {
		padding-bottom: 3.721vw;
		gap: 23.256vw;
	}

	.wrapperUTP {
		gap: 4.651vw;
	}
}
