.mainWrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 8.333vw;
}

.wrapperUTP {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 2.083vw;
}

@media (width <= 480px) {
	.mainWrapper {
		gap: 23.256vw;
	}

	.wrapperUTP {
		gap: 4.651vw;
	}
}
