.wrapper {
	display: flex;
	align-items: center;
	flex-direction: column;

	width: 70.833vw;
	gap: 0.833vw;
}

.wrapperHeader {
	position: relative;

	display: flex;
	overflow: hidden;
	align-items: center;
	justify-content: space-between;

	width: 70.833vw;
	height: 4.688vw;
	padding: 0 1.667vw;

	border: 0.052vw solid var(--dark_gray_stroke, #2e2e2e);
	border-radius: 0.625vw;
	background: var(--card_bg, rgb(92 92 92 / 15%));
}

.circle {
	position: absolute;
	z-index: -10;
	top: -0.372vw;

	width: 70.833vw;
	height: 70.833vw;

	border-radius: 70.833vw;
	background: var(--accent, #0638bd);
	filter: blur(5.208vw);
}

.leftFirst {
	width: 12.141vw;
}

.leftSecond {
	width: 5.218vw;
}

.leftThird {
	width: 6.659vw;
}

.leftFourth {
	width: 6.818vw;
}

.title {
	color: var(--white, #fff);

	font-family: 'Inter Tight';
	font-size: 0.938vw;
	font-weight: 400;
	font-style: normal;
	line-height: 1.313vw;
}

.wrapperButtons {
	display: flex;
	align-items: center;
	justify-content: center;

	width: fit-content;
	padding: 0.417vw;

	border-radius: 0.833vw;
	background: var(--card_bg, rgb(92 92 92 / 15%));
	gap: 0.625vw;
	backdrop-filter: blur(0.781vw);
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 2.188vw;
	padding: 0.417vw 1.25vw;

	cursor: pointer;
	text-align: center;

	color: #f0f0f0;
	border: none;
	border-radius: 0.625vw;
	outline: none;
	background: transparent;

	font-family: 'Inter Tight';
	font-size: 0.781vw;
	font-weight: 500;
	font-style: normal;
	line-height: 100%;
}

.activeButton {
	background: var(--card_bg, rgb(92 92 92 / 15%));
}

.wrapperAllTarification {
	display: flex;
	align-items: flex-start;
	align-self: stretch;
	justify-content: space-between;

	padding: 1.667vw;

	border: 0.052vw solid var(--dark_gray_stroke, #2e2e2e);
	border-radius: 0.625vw;
	background: var(--card_bg, rgb(92 92 92 / 15%));
}

.wrapperStatements {
	display: flex;
	flex-direction: column;
	gap: 1.667vw;
}

.statementGray {
	color: var(--gray, #858585);

	font-family: 'Inter Tight';
	font-size: 0.938vw;
	font-weight: 400;
	font-style: normal;
	line-height: 1.313vw;
}

.statementWhite {
	color: var(--white, #fff);

	font-family: 'Inter Tight';
	font-size: 0.938vw;
	font-weight: 400;
	font-style: normal;
	line-height: 1.313vw;
}

.statementImg {
	width: 1.25vw;
	height: 1.25vw;
}

@media (width <= 480px) {
	.wrapper {
		width: 92.558vw;
		gap: 3.721vw;
	}

	.wrapperHeader {
		width: 92.558vw;
		height: 20.93vw;
		padding: 0 10vw;

		border: 0.233vw solid var(--dark_gray_stroke, #2e2e2e);
		border-radius: 2.791vw;
	}

	.circle {
		top: -1.66vw;
		left: -121.86vw;

		width: 316.279vw;
		height: 316.279vw;

		border-radius: 316.279vw;
		filter: blur(23.256vw);
	}

	.leftFirst {
		width: 18.372vw;
	}

	.leftSecond {
		width: 15.218vw;
	}

	.leftThird {
		width: 15.814vw;
	}

	.leftFourth {
		width: fit-content;
	}

	.title {
		font-size: 3.721vw;
		line-height: 5.581vw;
	}

	.wrapperButtons {
		padding: 1.86vw;
		gap: 2.791vw;

		border-radius: 3.721vw;
		backdrop-filter: blur(3.488vw);
	}

	.button {
		height: 9.767vw;
		padding: 1.86vw 5.581vw;

		border-radius: 2.791vw;

		font-size: 3.721vw;
		line-height: 5.581vw;
	}

	.wrapperAllTarification {
		padding: 2.791vw;

		border: 0.233vw solid var(--dark_gray_stroke, #2e2e2e);
		border-radius: 2.791vw;
	}

	.wrapperStatements {
		gap: 11.163vw;
	}

	.statementGray {
		width: 25.581vw;

		font-size: 3.721vw;
		line-height: 5.581vw;
	}

	.statementWhite {
		width: 15.814vw;
		height: 11.174vw;

		font-size: 3.721vw;
		line-height: 5.581vw;
	}

	.statementImg {
		width: 5.581vw;
		height: 5.581vw;
	}

	.wrapperMobile {
		height: 11.163vw;
	}
}
