.wrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 2.813vw;
}

.wrapperHeadSection {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 1.667vw;
}

.wrapperButtons {
	display: flex;
	align-items: center;
	justify-content: center;

	width: fit-content;
	padding: 0.417vw;

	border-radius: 0.833vw;
	background: var(--card_bg, rgb(92 92 92 / 15%));
	gap: 0.625vw;
	backdrop-filter: blur(0.781vw);
}

.buttonsHeader {
	text-align: center;
	letter-spacing: -0.026vw;

	color: #fff;

	font-family: 'Inter Tight';
	font-size: 3.333vw;
	font-weight: 500;
	font-style: normal;
	line-height: 90%;
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 2.188vw;
	padding: 0.417vw 1.25vw;

	cursor: pointer;
	text-align: center;

	color: #f0f0f0;
	border: none;
	border-radius: 0.625vw;
	outline: none;
	background: transparent;

	font-family: 'Inter Tight';
	font-size: 0.781vw;
	font-weight: 500;
	font-style: normal;
	line-height: 100%;
}

.activeButton {
	background: var(--card_bg, rgb(92 92 92 / 15%));
}

.wrapperCards {
	display: flex;
	align-items: center;
	gap: 1.042vw;
}

.wrapperStatements {
	display: flex;
	flex-direction: column;

	width: 19.01vw;
	gap: 0.625vw;
}

.wrapperStatement {
	display: flex;
	gap: 0.417vw;
}

.statementImg {
	width: 1.25vw;
	height: 1.25vw;
}

.statementText {
	color: #fff;

	font-family: 'Inter Tight';
	font-size: 0.938vw;
	font-weight: 400;
	font-style: normal;
	line-height: 1.313vw;
}

@media (width <= 480px) {
	.wrapper {
		gap: 7.442vw;
	}

	.wrapperHeadSection {
		gap: 4.651vw;
	}

	.wrapperButtons {
		padding: 1.86vw;
		gap: 2.791vw;

		border-radius: 3.721vw;
		backdrop-filter: blur(3.488vw);
	}

	.buttonsHeader {
		font-size: 7.442vw;
		line-height: 7.442vw;
	}

	.button {
		height: 42px;
		padding: 8px 24px;

		border-radius: 12px;

		font-size: 3.721vw;
		line-height: 5.581vw;
	}

	.wrapperCards {
		gap: 4.651vw;

		flex-direction: column;
	}

	.wrapperStatements {
		width: 81.395vw;
		gap: 2.791vw;
	}

	.wrapperStatement {
		gap: 1.86vw;
	}

	.statementImg {
		width: 5.581vw;
		height: 5.581vw;
	}

	.statementText {
		font-size: 3.721vw;
		line-height: 5.581vw;
	}
}
