.wrapper {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	width: 34.896vw;
	padding: 1.563vw 1.25vw;
	border: 0.052vw solid var(--dark_gray_stroke, #2E2E2E);
	border-radius: 0.625vw;
	background: var(--card_bg, rgb(92 92 92 / 15%));
	gap: 1.042vw;
}

.img {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 2.656vw;
	height: 2.552vw;
}

.text {
	color: #FFF;
	font-family: 'Inter Tight';
	font-size: 0.938vw;
	font-weight: 400;
	font-style: normal;
	line-height: 1.313vw; /* 140% */
}

@media (width <= 480px) {
	.wrapper {
		width: 92.791vw;
		padding: 5.581vw;
		border: 0.233vw solid var(--dark_gray_stroke, #2E2E2E);
		border-radius: 2.791vw;
		gap: 4.651vw;
	}

	.img {
		width: 11.86vw;
		height: 11.395vw;
	}

	.text {
		font-size: 3.721vw;
		line-height: 5.581vw;
	}
}
