.formContainer {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	width: 34.896vw;
	gap: 0.625vw;
}

.inputField {
	display: flex;
	align-items: center;
	align-self: stretch;
	padding: 1.094vw 1.042vw;
	color: white;
	border: none;
	border: 0.052vw solid var(--dark_gray_stroke, #2E2E2E);
	border-radius: 0.625vw;
	outline: none;
	background: var(--card_bg, rgb(92 92 92 / 15%));
	font-family: 'Inter Tight';
	font-size: 0.938vw;
	font-weight: 400;
	font-style: normal;
	line-height: 1.313vw; /* 140% */
	gap: 0.521vw;
}

.dropdownText {
	color: #FFF;
	font-family: 'Inter Tight';
	font-size: 0.938vw;
	font-weight: 400;
	font-style: normal;
	line-height: 1.313vw; /* 140% */
}

.dropdownBtn {
	display: flex;
	align-items: center;
	align-self: stretch;
	justify-content: space-between;
	padding: 1.094vw 1.042vw;
	cursor: pointer;
	border: 1px solid var(--dark_gray_stroke, #2E2E2E);
	border-radius: 0.625vw;
	background: var(--card_bg, rgb(92 92 92 / 15%));
}

.dropdownImg {
	width: 1.25vw;
	height: 1.25vw;
	transition: all 0.2s ease-out;
}

.imgUp {
	transform: rotate(180deg);
}

.dropdownMenu {
	display: flex;
	align-items: flex-start;
	align-self: stretch;
	flex-direction: column;
	width: 34.896vw;
}

.dropdownItem {
	display: flex;
	align-items: center;
	align-self: stretch;
	padding: 1.094vw 1.042vw;
	cursor: pointer;
	transition: background 0.3s ease-out;
	border: 0.052vw solid var(--dark_gray_stroke, #2E2E2E);
	background: var(--card_bg, rgb(92 92 92 / 15%));
	gap: 0.521vw;

	&:hover {
		background: rgb(255 255 255 / 20%);
	}
}

.iconText {
	color: var(--white, #FFF);
	font-family: 'Inter Tight';
	font-size: 0.938vw;
	font-weight: 400;
	font-style: normal;
	line-height: 1.313vw; /* 140% */
}

.wrapper {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	width: 34.896vw;
	gap: 1.51vw;
}

.submitBtn {
	display: flex;
	align-items: center;
	align-self: stretch;
	justify-content: center;
	height: 2.708vw;
	padding: 0.885vw 2.24vw;
	cursor: pointer;
	text-align: center;
	color: var(--white, #FFF);
	border: none;
	border-radius: 0.625vw;
	outline: none;
	background: var(--accent, #0638BD);
	font-family: 'Inter Tight';
	font-size: 0.781vw;
	font-weight: 500;
	font-style: normal;
	line-height: normal;
	gap: 0.521vw;
}

.icon {
	width: 1.25vw;
	height: 1.25vw;
}

.telegramBtn {
	border-radius: 12px 12px 0 0;
}

.emailBtn {
	border-radius: 0 0 12px 12px;
}

@media (width <= 480px) {
	.formContainer {
		width: 92.558vw;
		gap: 2.791vw;
	}

	.inputField {
		padding: 4.884vw 4.651vw;
		border: 0.233vw solid #2E2E2E;
		border-radius: 2.791vw;
		font-size: 3.721vw;
		line-height: 5.581vw;
		gap: 2.326vw;
	}

	.dropdownText {
		font-size: 3.721vw;
		line-height: 5.581vw;
	}

	.dropdownBtn {
		padding: 4.884vw 4.651vw;
		border-radius: 2.791vw;
	}

	.dropdownImg {
		width: 5.581vw;
		height: 5.581vw;
	}

	.dropdownMenu {
		width: 92.558vw;
	}

	.dropdownItem {
		padding: 4.884vw 4.651vw;
		gap: 2.326vw;
		border: 0.233vw solid var(--dark_gray_stroke, #2E2E2E);
	}

	.iconText {
		font-size: 3.721vw;
		line-height: 5.581vw;
	}

	.wrapper {
		width: 92.558vw;
		gap: 4.651vw;
	}

	.submitBtn {
		height: 12.093vw;
		padding: 3.953vw 10vw;
		border-radius: 2.791vw;
		font-size: 3.256vw;
	}

	.icon {
		width: 5.581vw;
		height: 5.581vw;
	}

	.telegramBtn {
		border-radius: 2.791vw 2.791vw 0 0;
	}

	.emailBtn {
		border-radius: 0 0 2.791vw 2.791vw;
	}
}
