.wrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 8.333vw;
}

.wrapperHeadInfo {
	display: flex;
	align-items: flex-start;
	gap: 1.042vw;
	margin-top: -26vw;
}

.accent {
	color: var(--main-text);
}

.addWrapper {
	margin: 0;
}

@media (width <= 480px) {
	.wrapper {
		gap: 23.256vw;
	}

	.wrapperHeadInfo {
		gap: 4.651vw;
		flex-direction: column;
		margin-top: -122vw;
	}
}
