.header {
	position: absolute;
	top: 2.083vw;
	display: inline-flex;
	align-items: center;
	gap: 17.656vw;
}

.logo {
	width: 4.271vw;
	height: 2.083vw;
}

.linksWrapper {
	display: flex;
	align-items: flex-start;
	gap: 3.209vw;
}

.link {
	color: var(--main-text);
	text-decoration: none;
	font-family: 'Inter Tight';
	font-size: 0.781vw;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.button {
	cursor: pointer;
	display: flex;
	width: 9.375vw;
	height: 2.708vw;
	justify-content: center;
	align-items: center;
	border-radius: 0.625vw;
	background: var(--main-text);
	border: none;
	outline: none;
	color: var(--almost-black);
	text-align: center;
	font-family: 'Inter Tight', serif;
	font-size: 0.781vw;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.activeLink {
	color: var(--additional_violet, #9092e3);
}

@media (max-width: 480px) {
	.header {
		top: 4.735vw;
		gap: 0;
		justify-content: space-between;
		width: 87.907vw;
	}

	.logo {
		width: 15.256vw;
		height: 7.442vw;
	}

	.wrapperButton {
		display: flex;
		width: 11.163vw;
		height: 11.163vw;
		justify-content: center;
		align-items: center;
		border-radius: 8.997vw;
		border: 0.233vw solid var(--dark_gray_stroke, #2e2e2e);
		background: var(--almost_black, #0c0c0c);
		outline: none;
	}

	.buttonBurgerMenuImage {
		width: 5.581vw;
		height: 5.581vw;
	}
}
