.wrapper {
	display: flex;
	flex-direction: column;
	width: 22.656vw;
	height: 10.781vw;
	padding: 1.25vw;
	border: 1px solid var(--dark_gray_stroke, #2E2E2E);
	border-radius: 0.625vw;
	background: var(--card_bg, rgb(92 92 92 / 15%));
	gap: 1.667vw;
}

.wrapperTexts {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	gap: 0.417vw;
}

.img {
	width: auto;
	height: 2.552vw;
}

.text {
	color: var(--white, #FFF);
	font-family: 'Inter Tight';
	font-size: 0.938vw;
	font-weight: 400;
	font-style: normal;
	line-height: 1.313vw;
}

.wrapperButtons {
	display: flex;
	align-items: center;
	gap: 0.208vw;
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 2.083vw;
	height: 2.083vw;
	cursor: pointer;
	border: none;
	border-radius: 26.042vw;
	outline: none;
	background: var(--card_bg, rgb(92 92 92 / 15%));
}

.svg {
	width: 1.25vw;
	height: 1.25vw;
}

.buttonImg {
	width: 1.25vw;
	height: 1.25vw;
}

.input {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	width: 3.854vw;
	height: 2.083vw;
	text-align: center;
	color: var(--white, #FFF);
	border: none;
	border-radius: 0.417vw;
	outline: none;
	background: var(--almost_black, #0C0C0C);
	font-family: 'Inter Tight';
	font-size: 0.938vw;
	font-weight: 400;
	font-style: normal;
	line-height: 1.313vw;
	gap: 0.521vw;
}

@media (width <= 480px) {
	.wrapper {
		width: 44.884vw;
		height: 50.465vw;
		padding: 4.651vw;
		gap: 7.442vw;
		border-radius: 2.791vw;
	}

	.wrapperTexts {
		gap: 8px;
		flex-direction: column;
	}

	.img {
		height: 11.395vw;
	}

	.text {
		font-size: 3.721vw;
		line-height: 5.581vw;
	}

	.wrapperButtons {
		gap: 0.93vw;
	}

	.button {
		width: 9.302vw;
		height: 9.302vw;
		border-radius: 116.279vw;
	}

	.buttonImg {
		width: 5.581vw;
		height: 5.581vw;
	}

	.input {
		width: 15.116vw;
		height: 9.302vw;
		border-radius: 1.86vw;
		font-size: 3.721vw;
		line-height: 5.581vw;
	}
}
