.wrapper {
	position: relative;

	display: flex;
	overflow: hidden;
	align-items: center;
	justify-content: center;

	width: 34.896vw;
	height: 27.24vw;

	border-radius: 1.667vw;
}

.img {
	position: absolute;
	z-index: -10;

	width: 34.896vw;
	height: 27.24vw;

	background-size: cover;
}

.text {
	width: 22.897vw;

	letter-spacing: -0.019vw;

	color: var(--white, #fff);

	font-family: 'Inter Tight';
	font-size: 1.667vw;
	font-weight: 500;
	font-style: normal;
	line-height: 120%;
}

@media (width <= 480px) {
	.wrapper {
		width: 92.558vw;
		height: 77.442vw;

		border-radius: 7.442vw;
	}

	.img {
		width: 92.558vw;
		height: 77.442vw;
	}

	.text {
		width: 75.671vw;

		letter-spacing: -0.14vw;

		font-size: 5.116vw;
	}
}
