.wrapper {
	display: flex;
	width: 40.313vw;
	flex-direction: column;
	align-items: center;
	gap: 3.333vw;
}

.wrapperAllHeaders {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.625vw;
}

.wrapperTitle {
	width: 10.677vw;
	height: 1.563vw;
	border-radius: 1.304vw;
	background: radial-gradient(
			38% 22.92% at 48.31% 110.42%,
			rgba(255, 255, 255, 0.8) 20.03%,
			rgba(255, 255, 255, 0) 100%
		),
		linear-gradient(
			101deg,
			#fff -13.72%,
			rgba(255, 255, 255, 0.1) 18.13%,
			rgba(255, 255, 255, 0.1) 69.16%,
			#fff 115.71%
		);
}

.wrapperTitleSection {
	display: flex;
	padding: 0.313vw 0.677vw;
	justify-content: center;
	align-items: center;
	gap: 0.521vw;
	border-radius: 1.304vw;
	background: #181818;
}
.title {
	color: #fff;
	text-align: center;
	text-shadow: 0vw 0.019vw 0.037vw rgba(0, 0, 0, 0.1);
	font-family: 'Inter Tight';
	font-size: 0.781vw;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.titleSection {
	color: var(--white, #fff);
	text-align: center;
	font-family: 'Inter Tight';
	font-size: 3.333vw;
	font-style: normal;
	font-weight: 500;
	line-height: 90%;
	letter-spacing: -0.026vw;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 0.625vw;
	width: 34.896vw;
}

.inputForm {
	display: flex;
	padding: 1.094vw 1.042vw;
	border-radius: 0.625vw;
	border: 0.052vw solid var(--dark_gray_stroke, #2e2e2e);
	background: var(--card_bg, rgba(92, 92, 92, 0.15));
	color: #fff;
	font-family: 'Inter Tight';
	font-size: 0.938vw;
	font-style: normal;
	font-weight: 400;
	line-height: 1.313vw;
	outline: none;
}

.buttonSubmit {
	cursor: pointer;
	display: flex;
	height: 2.708vw;
	padding: 0.885vw 2.24vw;
	justify-content: center;
	align-items: center;
	gap: 0.521vw;
	border-radius: 0.625vw;
	background: var(--accent, #0638bd);
	border: none;
	outline: none;
	color: var(--white, #fff);
	text-align: center;
	font-family: 'Inter Tight';
	font-size: 0.781vw;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}
