@import url('./_reset');
@import url('./_vars');
@import url('./fonts');

* {
	box-sizing: border-box;
}

body {
	background-color: var(--almost-black);
}

.mainWrapper {
	display: flex;
	overflow-x: hidden;
	align-items: center;
	flex-direction: column;
	padding-bottom: 1.667vw;
	gap: 8.333vw;
}

@media (width <= 480px) {
	.mainWrapper {
		padding-bottom: 3.721vw;
	}
}
